<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    {{{handlebarsHelpers}}}
    var tpl = Handlebars.template({{{precompiledSearchResultsTemplate}}});
    var $search = document.getElementById('search');

    if ('searchInstance' in window && $search !== null) { searchInstance.search(tpl, $search); }
});
</script>
<div class="search-results" id="search"></div>
