<script type="text/javascript" src="/assets/js/handlebars.runtime.min.js"></script>
<script type="text/javascript" src="/assets/js/didyoumean.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    {{{handlebarsHelpers}}}
    var tpl = Handlebars.template({{{precompiledSearchResultsTemplate}}});
    var $search = document.getElementById('search');

    if ($search !== null) {
        new Promise(function(resolve) {
            var q = '';

            // check whether search term is in the URL
            if (typeof URLSearchParams !== 'undefined') {
                q = new URLSearchParams(location.search.slice(1)).get('q').trim();
            }

            if (q !== '') {
                // set search forms in the rest of the DOM to the query string
                var $qs = document.querySelectorAll('.search-form__q');

                if ($qs !== null) { Array.from($qs).forEach(function($q) { $q.value = q; }); }

                // load search index with AJAX
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/search.json');

                xhr.onreadystatechange = function() {
                    // DONE
                    if (xhr.readyState === 4) {
                        // OK
                        if (xhr.status === 200) {
                            var index = null;

                            try {
                                index = JSON.parse(xhr.responseText);
                            } catch(ex) {}

                            if (index !== null) {
                                // calculate results
                                resolve({ result: [], q: q });
                            } else { resolve({ result: [], q: q }); }
                        } else { resolve({ result: [], q: q }); }
                    }
                };

                xhr.send(null);
            } else { resolve({ result: [], q: q }); }
        }).then(function(results) {
            // show results with precompiled Handlebars template
            $search.innerHTML = tpl(results);
        });
    }
});
</script>
<div class="search-results" id="search"></div>
