<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Untitled{{#each titles}} - {{this}}{{/each}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
    <aside class="aside">
        <nav class="navigation">
            <a href="/">Homepage</a>
            {{> navigation pages=navigation.pages level=1}}
        </nav>
    </aside>
    <main class="main main--{{type}}"">
